/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu-item {
  margin-bottom: 30px;
}

.menu-link {
  text-align: center;
  background-color: #4e75ff;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  letter-spacing: 0.04em;
  padding: 8px 16px;
}

.menu-link:hover {
  background: #6c8cff;
}

.back-page {
  color: #808080;
}

.timer-section input {
  width: 272px;
  border: 1px solid #808080;
  border-radius: 4px;
  color: #2e2f42;
  font-size: 16px;
  letter-spacing: 4%;
  padding: 8px 16px;
  margin-right: 8px;
  outline: none;
}

.timer-section input:hover {
  border: 1px solid #000;
}

.timer-section input:active {
  outline: 1px solid #4e75ff;
  color: #000;
}

.timer-section input:disabled {
  border: 1px solid #808080;
  color: #808080;
  background-color: #fafafa;
}

.timer-section button {
  width: 75px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #fff;
}

.timer-section button:hover,
.timer-section button:active {
  background-color: #6c8cff;
}

.timer-section button:disabled {
  background-color: #cfcfcf;
  color: #989898;
}

.timer {
  margin-top: 32px;
  display: flex;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
}
.value {
  font-size: 40px;
  display: block;
  align-self: center;
}
.label {
  text-transform: uppercase;
}

.form {
  width: 360px;
}

.form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-label input {
  margin-top: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px 16px;
}

.form-label input:hover {
  outline: 1px solid #000;
}

.form-label input:active {
  outline-color: #4e75ff;
  color: #2e2f42;
}

.fieldset {
  margin-bottom: 24px;
  border: 1px solid #808080;
  border-radius: 4px;
  display: block;
  padding: 24px 48px 8px 48px;
}

.fieldset:hover {
  border-color: #000;
}

.first-option {
  margin-right: 48px;
}

.fieldset-label input:checked {
  content: '';
  background-color: #4e75ff;
}

.button-notification {
  width: 360px;
  background-color: #4e75ff;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.07em;
  border: none;
  border-radius: 8px;
  padding: 8px 100px;
}
